.swiper {
  width: 95%;
  height: 55rem;
}

.swiper__img {
  width: 100%;
  height: 100%;
}

@media (min-width: 320px) {
  .swiper {
    height: 25rem;
  }
}

@media (min-width: 426px) and (max-width: 480px) {
  .swiper {
    height: 32rem;
  }
}

@media (min-width: 481px) and (max-width: 540px) {
  .swiper {
    height: 40rem;
  }
}

@media (min-width: 541px) and (max-width: 768px) {
  .swiper {
    height: 45rem;
  }
}

@media (min-width: 768px) {
  .swiper {
    height: 50rem;
  }
}
